*.log
*.tmp
~$*

.idea/
coverage/
node_modules/
screenshots/
.runtimeconfig.json
serviceAccountKey.json

functions/dist/

functions/src**/*.js.map
functions/src/app/gql/schema.graphql
functions/src/tools/firebase.config.ts

functions/tests/**/*.js.map
functions/tests/mocks/app/gql/schema.*.graphql

functions/tools/**/*.js.map
