*.log
*.tmp
~$*

.idea/
coverage/
node_modules/
screenshots/
.runtimeconfig.json
serviceAccountKey.json

functions/dist/
functions/http-client.env.json

functions/src**/*.js.map
functions/src/config/private/index.ts
functions/src/tools/firebase.config.ts

functions/tests/**/*.js.map

functions/tools/bin/
functions/tools/**/*.js.map
