*.log
*.tmp
~$*

.idea/
coverage/
node_modules/
screenshots/
.runtimeconfig.json
serviceAccountKey.json

functions/dist/

functions/src**/*.js.map
functions/src/tools/firebase.config.ts
functions/src/config/secret-config.ts

functions/tests/**/*.js.map

functions/tools/bin/
functions/tools/**/*.js.map
